// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$midnight-green: #104F55;
$myrtle-green: #32746D;
$cambridge-blue: #9EC5AB;
$dark-green: #01200F;
$dark-green-jungle: #011502;
$white: #fffbfb;

