// Specific CSS for your home-page
.home-page {
  background-color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 20px;
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 10px;
}

.home-page .btn-flat {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  border: solid 1px;
  background: none;
  font-size: 15px;
  opacity: .9;
  transition: background 0.3s ease;
}

.home-page .btn-flat:hover {
  text-color: #f9f6f7;
  transform: scale(1.1);
  color: white;
}

// .separator {
//   height: 80px;
//   width: 100%;
//   background-color: #F1F4F7;
// }

.home-page .container {
  margin-bottom: 100px;
  margin-top: 60px;
}

.home-page .text-separator {
  text-align: center;
  padding: 30px;
  color: #404b55;
  font-weight: 300px;
  margin-bottom: 50px;
}

.home-page .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 90px;
}

.home-page .card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .5s
}

.home-page .card-category:hover {
  transform: scale(1.2)
}

.home-page .container-how {
  padding-bottom: 50px;
  background-color: #F1F4F7;
}

.home-page .icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 0 20px;
}

.home-page .icon-category {
  background-position: center;
  justify-content: center;
  align-items: center;
}

.home-page .icon-content {
  text-align: center;
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
}

.home-page .icon {
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page .promote {
  background-size: cover;
  background-position: center;
  padding: 210px 0;
  text-align: center;
}

.home-page .promote h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding: 20px;
}

.home-page .promote p {
  padding: 20px;
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

