
.background-form-owner {
  padding-top: 40px;
  height: 100vh;
}

.background-form-owner a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 4px;
  border: solid 1px;
  background: none;
}

.label-style {
   color: white;
   font-size: 18px;
 }

.h1-owner-form {
  color: white;
  padding-top: 40px;
}

.simple_form div.input {
    color: white;
}

.submit-btn-owner {
  color: white;
  padding: 6px 10px;
  margin-left: 15px;
  border-radius: 4px;
  border: solid 1px;
  background: none;
  transition: background 0.3s ease;
}

.submit-btn-owner:hover {
  background: #32746D;
}

.input-white {
  color: white;
}








