
.background-form-owner {
  padding-top: 40px;
  height: 100vh;
}

.background-form-owner a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.label-style {
   color: white;
   font-size: 18px;
 }

.h1-owner-form {
  color: white;
  padding-top: 40px;
}
