.show-campingcars {

  .cards {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 16px;


    .card-camping-car {
      height: 90%;
      width: 80%;
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      margin: 30px 60px 45px 85px;
     border-radius: 5px;
    }

    .card-camping-car > img {
      height: 50%;
      width: 100%;
      object-fit: fill;
      vertical-align: top;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .card-camping-car h2 {
      width: 100%;
      font-size: 16px;
      font-weight: bold;
      padding: 1em;
      text-align: center;
      border-bottom: 1px solid black;
    }

    .card-camping-car p {
      font-size: 12px;
      opacity: .7;
      padding: 1em;
      text-align: justify;
    }


    .card-camping-car .card-campingcar-trip-infos {
      padding: 16px;
      // display: flex;
      // justify-content: space-between;
      // align-items: flex-end;
      // position: relative;
      // object-fit: contain;
      // overflow: auto;
    }

    .card-camping-car .campingcars-infos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      font-size: 14px;
    }

    .card-booking-infos {
      height: 90%;
      overflow: hidden;
      background: white;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
      margin: 30px 60px 45px 85px;
      border: 5px black !important;
    }

    .card-booking-infos .btn-flat {
      color: white;
      padding: 6px 10px;
      border-radius: 4px;
      border: solid 1px;
      background: #9EC5AB;
      transition: background 0.3s ease;
    }

    .card-booking-infos .btn-flat:hover {
      background: #8daf99;
      color: white;
    }

    .card-booking-infos .datepicker {
      display: flex;
      // justify-content: space-between;
      // align-items: flex-end;
      position: relative;
      // object-fit: contain;
      // overflow: auto;
    }
  }
}
