<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Camping Car and<span>B</span></h3>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>

          <a href="/">Accueil</a>

          <a href="#">Créer une annonce</a>

          <a href="#">Nos camping-cars</a>
        </p>

        <p class="footer-company-name">Camping Car and B© 2021</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>11 rue de la Noue Bras de Fer</span> Nantes, France</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+33 7 89 65 43 10</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@camping-car-and-b.com">support@camping-car-and-b.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>A propos de nous</span>
          Votre nouveau chez vous, ailleurs : Tel est notre devise ! Chez camping car and b nous souhaitons vous accompagner partout.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>

        </div>

      </div>

    </footer>
