.card-container{
  margin-right: 10px;
  margin-left: 10px;
}

.demande-reservation-button{
  background-color: #32746D;
  color: white;
  border-radius: 50px;
}
.camping-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
