.index-jumbo{
  background-position: center;
  background-size: cover;
  height: 500px;
  margin-bottom: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
  padding-left: 20px;
}
