.index-jumbo{
  background-image: url(https://images.unsplash.com/photo-1513350949-6bd4ab6ff7f8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80);
  background-position: center;
  background-size: cover;
  height: 600px;
  margin-bottom: 0;

}
